.body {
	border: 16px solid;
	border-image: linear-gradient(#e6e6e6, #d2d6d8) 1;
	margin: 0;

	@media (min-width: 1280px) {
		border: 0;
	}
}

.main {
	padding: 48px 16px;

	@media (min-width: 768px) {
		padding: 64px 32px;
	}

	@media (min-width: 1440px) {
		margin: auto;
		max-width: 1280px;
		padding: 30px 32px;
	}
}

.image {
	margin-bottom: 48px;

	@media (min-width: 768px) {
		margin-bottom: 64px;
	}

	@media (min-width: 1280px) {
		margin: 0;
		width: 50% !important;
	}
}

.desktopContainer {
	@media (min-width: 1440px) {
		display: flex;
		gap: 32px;
	}
}
